# See http://help.github.com/ignore-files/ for more about ignoring files.

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

#VS
.vs/time-management-API
.vs/time-management-API/*
time-management-API/obj
time-management-API/bin/Debug


# Node
Angular-ClientApp/node_modules
Angular-ClientApp/npm-debug.log
Angular-ClientApp/yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vs
.vs/*

# Visual Studio Code
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
time-management-UI/.vscode/

# Miscellaneous
Angular-ClientApp/.angular/cache
Angular-ClientApp/.sass-cache/
Angular-ClientApp/connect.lock
Angular-ClientApp/coverage
Angular-ClientApp/libpeerconnection.log
Angular-ClientApp/testem.log
Angular-ClientApp/typings

time-management-API/bin
time-management-API/bin/*

time-management-API/bin/Debug/net6.0/time-management-API.pdb
time-management-API/bin/Debug/net6.0/time-management-API.dll
time-management-API/obj/staticwebassets.pack.sentinel

# System files
.DS_Store
Thumbs.db

