# See http://help.github.com/ignore-files/ for more about ignoring files.

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

#VS
.vs/time-management-API/
.vs/time-management-API/*
/time-management-API/obj
/time-management-API/bin/Debug


# Node
/time-management-UI/node_modules
/time-management-UI/npm-debug.log
/time-management-UI/yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vs
.vs/*

# Visual Studio Code
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
/time-management-UI/.vscode/

# Miscellaneous
/time-management-UI/.angular/cache
/time-management-UI/.sass-cache/
/time-management-UI/connect.lock
/time-management-UI/coverage
/time-management-UI/libpeerconnection.log
/time-management-UI/testem.log
/time-management-UI/typings

# System files
.DS_Store
Thumbs.db
