.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 4;
}

#SideNavButton {
  margin: 10px;
}

.right-side {
    margin-left: auto;
    display: flex;
    align-items: center;
}
