<div class="grid-container">
  <h1 class="mat-h1"></h1>
  <!-- <mat-grid-list [cols]="(isMedium$ | async) ? '2' : '4' " rowHeight="100px"> -->
  <mat-grid-list [cols]="columns" rowHeight="100px">
    <!--Start of Cards-->
    <mat-grid-tile [colspan]="1" [rowspan]="2" *ngFor="let card of cards">
      <mat-card class="dashboard-card first-row">
         <div class="card-icon {{card.Color}}">
             <mat-icon>{{card.Icon}}</mat-icon>
          </div>
        <mat-card-content class="dashboard-card-content">
          <mat-card-title>{{card.Title}}</mat-card-title>
          <div class="mt-3 cursor cardNumber position-absolute start-50 top-50" (click)="cardFunction(card.FuncNumber);"  [innerHTML]="card.Content | sanitize:'html'"></div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile> 

    <mat-grid-tile [colspan]="1" [rowspan]="2">
      <mat-card class="dashboard-card first-row">
         <div class="card-icon icon-red">
             <mat-icon>youtube_searched_for</mat-icon>
          </div>
        <mat-card-content class="dashboard-card-content">
          <mat-card-title>Surprise!</mat-card-title>
          <div class="mt-3">
            <!-- <input matInput type='text' [(ngModel)]='hello' (ngModelChange)='inputChanged($event)' placeholder='Saluta a Capozzi!' name='hello'> -->
            <input #surpriseBox matInput type='text' id="search-box" (input)="inputChangedSimplified(surpriseBox.value)" placeholder='Saluta a Capozzi!' />
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!--END OF CARDS-->
    
    <mat-grid-tile [colspan]="componentCols" [rowspan]="14" id ="tableTile">
      <mat-card class="dashboard-card">
        <mat-card-header class="cardHeader">
          <mat-card-title>
            <ng-container *ngIf="monthInTable$ | async | date:'MMMM' as cm ; else elseTemplate">
                <h1><strong>{{cm}}'s</strong> Time-Table</h1>
            </ng-container>
            <ng-template #elseTemplate>
              <h1>Time-Table</h1>
            </ng-template>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="container py-3 position-relative mb-4">
            <button mat-raised-button color="accent" title="Previous Month" id="buttonPrevious" class="position-absolute start-0 arrow" (click)="dateTable.previousMonth()">
              <mat-icon aria-hidden="false" aria-label="previous" style="transform: rotate(180deg)">forward</mat-icon>
            </button>
            <button mat-raised-button color="accent" title="Next Month" id="buttonForward" class="position-absolute end-0 arrow" (click)="dateTable.nextMonth()">
              <mat-icon aria-hidden="false" aria-label="next">forward</mat-icon>
            </button>
          </div>
          <!--child variable #dateTable-->
          <div><app-time-table #dateTable></app-time-table></div>
          <div class="mt-2 btn-group float-end me-2" role="group">
            <button mat-raised-button class="me-2" color="primary" (click)="dateTable.saveTable()">Save</button>
            <!--Bind Child Function with Parent using a local variable-->
            <button mat-raised-button color="warn" (click)="dateTable.clearTable()">Clear</button>
            <button mat-raised-button class="ms-2" color="accent" (click)="dateTable.openExportDialog()">Export Table</button>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="componentCols" [rowspan]="6" id="statisticsTile">
      <mat-card class="dashboard-card">
        <mat-card-header class="cardHeader">
          <mat-card-title>
            <ng-container *ngIf="monthInTable$ | async | date:'MMMM' as cm ; else elseTemplate">
                <h1><strong>{{cm}}'s</strong> Statistics</h1>
            </ng-container>
            <ng-template #elseTemplate>
              <h1>Statistics</h1>
            </ng-template>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content float-start w-100">
          <div><app-statistics></app-statistics></div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>


