<div class="container">
    <p class="fs-5" *ngIf="workingHours$ | async as wh"> Total Working Hours: {{wh}} </p>
    <p class="fs-5" *ngIf="workingDays$  | async as wd">Total Working Days: {{wd}} </p>
    <p class="fs-5" *ngIf="(holidays$     | async) as hd">Total Holidays: {{hd}} </p>
    <p class="fs-5" *ngIf="officeDays$   | async as wh">Totals Days in office: {{wh}} </p>
    <ng-container *ngIf="holidays$ | async as hd; else elseTemplate">
        <p class="fs-5">Total Holidays: {{hd}}</p>
    </ng-container>
    <ng-template #elseTemplate>
        <p class="fs-5">Total Holidays: 0</p>
    </ng-template>
</div>